
   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: :100%;
    
      }
      /* Optional: Makes the sample page fill the window. */
    /*   body {
     
        margin: : 0;
        padding: 0;
      }*/
      #floating-panel {
     /*   position: absolute;*/
        top: 50px;
        left: 25%;
        z-index: 5;
        background-color: #960D17;
        padding: 5px;
        border: 2px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #mapwrapper {
        margin-top:40px;
      }
    </style>
    
 
   <form id='altsubmit'>
    <input type='text' id="altaddress" placeholder="Please Enter Current Location">
    <input type='button' onclick="altAdd()" class='button' value="submit">
  </form>
  <form action='/'>
  <input type="submit" class='button' value="Click Here To Check Another Flight"> 
  </form>

    <div id="mapwrapper">
      <div id="floating-panel">
          <b>Mode of Travel to the Aiport: </b>
          <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
          </select>
       </div>
    <div id="embed"></div>
   <!--  <div id="map"></div> -->
    </div>
    <div id="directions"></div>
    <br>
    
    <footer id="footer">
  <div> David Daskal {Airtoo} &copy 2018</div>
</footer>





    <script>
        var music = new Audio("/audio/coverme.mp3");
        music.play();
      $('#altsubmit').hide();
      console.log('port=',airport+' iloc='+iLoc);
      origMap = document.getElementById("embed");
      loadImage = '<img src="https://media.giphy.com/media/3ohjVbsqBv7wmpP9BK/giphy.gif">';

      origMap.innerHTML = loadImage;

        function altAdd(){
        
        $('#altsubmit').hide();
        var manualAdd = $('#altaddress').val();
        manualAdd = manualAdd.replace(',',"+");
        console.log('manualAdd',manualAdd);
        embedMap(0,0,manualAdd);
        initMap(30,-40,manualAdd);
      }
      





    function coordMap() {
      console.log('started coordMap');

      if (iLoc) {
        embedMap(0,0,iLoc);
        initMap(30,-40,iLoc);
      }

      else if (navigator.geolocation) {
        var options = {
          // enableHighAccuracy: true,
          timeout: 120000,
          maximumAge: 60000
        };
        console.log('should be inside if nav.geolocation');
        navigator.geolocation.getCurrentPosition(showPosition,error,options);
    } else { 
        origMap.innerHTML = "<p>Geolocation is not supported by this browser.<p>";
    }
  }

      





      

      //*showing EMBED API Map with real time traffic data

      function embedMap (latitude,longitude,iLoc){
              // airport variable from flightresults.hbs
              dest = airport;
              var selectedMode = document.getElementById('mode').value;

              if (iLoc){
                origin=iLoc;
                console.log('THIS IS iLoc',origin);
                embMapDisplay(origin,dest,selectedMode);
              }

              else {
              var geocoder = new google.maps.Geocoder;
              geocoder.geocode({'location': {lat:latitude,lng:longitude}}, function(results, status) {
          if (status === 'OK') {
              
              origin = results[0].formatted_address;
              origin = origin.replace(',',' ');
              origin = origin.replace(' ','+');
              console.log('results',results);
         
              embMapDisplay(origin,dest,selectedMode);
          }
          else{
            console.log('geo failed');
          }
        });
       }      


      } //END OF EMBED MAP

      //EMBED MAP DISPLAY ADDED EVENT LISTENER FOR MODE OF TRANSPORT
      function embMapDisplay(origin,dest,mode){
        mode = mode.toLowerCase();
        embedtag = '<iframe width="100%" height="600" frameborder="0" style="border:0"';
        embedtag+=' src="https://www.google.com/maps/embed/v1/directions?origin=';
        embedtag+=origin+'&destination='+dest+'&mode='+mode+'&key=AIzaSyCxqkWSV6F0DHTWoYU2ids-tJ--QnAhPPM" allowfullscreen></iframe>';
        $("#embed").html(embedtag);
        

      }


      function showPosition (position){
        console.log('after nav.geo in showPosition');
        lat = position.coords.latitude
        lng = position.coords.longitude
        console.log(lat+"\n"+lng);
        initMap(lat,lng);
        embedMap(lat,lng);

      }

      function error(){
        $('#altsubmit').show();
        origMap.innerHTML = 'no map for now';

      }

      

      function initMap(latitude,longitude,iLoc) {
        console.log('inside initMap');
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        // var map = new google.maps.Map(document.getElementById("map"), {
        //   zoom: 18,
        //   center: {lat: latitude, lng: longitude}
        // });
        // directionsDisplay.setMap(map);
        // var trafficLayer = new google.maps.TrafficLayer();
        // trafficLayer.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay,latitude,longitude,iLoc);
        document.getElementById('mode').addEventListener('change', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay,latitude,longitude,iLoc)
          embedMap(latitude,longitude,iLoc);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay,latitude,longitude,iLoc) {
        var selectedMode = document.getElementById('mode').value;
        if (iLoc){
          startAddr = iLoc;
        }
        else{
          startAddr = {lat: latitude, lng: longitude};
        }
        directionsService.route({
          origin: startAddr,  // Haight.
          destination: airport,  // Ocean Beach.
          // Note that Javascript allows us to access the constant
          // using square brackets and a string value as its
          // "property."
          travelMode: google.maps.TravelMode[selectedMode],
          drivingOptions: {
            departureTime: new Date(Date.now()),  // for the time N milliseconds from now.
            trafficModel: 'pessimistic'
          }
        }, function(response, status) {
          if (status == 'OK') {
            console.log('response from displayRoute',response);
            directionsDisplay.setDirections(response);
            directionsDisplay.setPanel(document.getElementById('directions'));
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxqkWSV6F0DHTWoYU2ids-tJ--QnAhPPM&callback=coordMap">
    </script>

