
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="header">
<h3>Welcome to Airtoo - A Place to Track Flights Accurately Know When to Leave to get to the Airport on Time</h3>
</div>

<div id="maincontainer">

	 <div id="contentcontainer">
		<!-- <div id="back">
	  <img src="/stylesheets/moscow.jpg">
		</div> -->
 	

		{{#if airline}}
		{{>flightresults}}
		{{else}}


		<form action = '/flightInfo' method="GET" id="flightForm">
		<p id='enterflnum'><strong>Please Enter Flight Number</strong></p> <span id='flspan'>ex.DAL2 - arriving </span><br> <input type = "text" name="flightnum"><br>
		<p class='itest'>Looks like you are using IOS<br> Please enter your current Location (No spaces) <br>
		 <input class='itest' type = "text" name="iphoneLoc">
		</p>
		 <br>
		 <p><strong>Show Me Navigation and Travel time for Departing or Arriving Aiport Below</strong></p>
		 <input type="radio" id="contactChoice1"
     		name="airchoice" value="departing">
    	<label for="contactChoice1"><strong>Departing</strong></label>

    	<input type="radio" id="contactChoice1"
     		name="airchoice" value="arriving">
    	<label for="contactChoice1"><strong>Arriving</strong></label>
		<br>
		<button type = "submit" class="button" value="Get Flight Info">Get Flight Info</button>
		</form>


		<div id='loader'><img src='https://media.giphy.com/media/8bTEB5VwcNozK/giphy.gif'></div>
	</div>
	<audio id="music"
		src="/audio/heartnoise.mp3" autoplay >
	</audio>	


</div>
<footer id="footer">
	<div>David Daskal {Airtoo} &copy 2018</div>
</footer>




<script type="text/javascript">
  	
  		$(document).ready(function(){



  			var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
  			if (!iOS) {
  				$(".itest").hide();
  			}

  			$('#loader').hide();
  		$('#flightForm').submit(function(){
  			$('#loader').show();
  		})		
    	
		})
</script>
{{/if}}



