
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>Welcome to Airtoo - A Place to Track Flights Accurately Know When to Leave to get to the Airport on Time</h2>

{{#if airline}}
{{>flightresults}}
{{else}}


<form action = '/flightInfo' id="flightForm">
Please Enter Flight Number <span id='flspan'>ex.DAL2 </span><br> <input type = "text" name="flightnum"><br><br>
<input type = "submit" value="Get Flight Info">
</form>

<div id='loader'><img src = 'https://media.giphy.com/media/8bTEB5VwcNozK/giphy.gif'>  loading....</div>

<script type="text/javascript">
  	
  		$(document).ready(function(){

  			$('#loader').hide();
  		$('#flightForm').submit(function(){
  			$('#loader').show();
  		})		
    	
		})
</script>
{{/if}}


